@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.page-header {
  padding: 0 70px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */

.button {
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.navigation-button:hover,
.hotels-search-button:hover,
.catalog-card-link-detailed:hover {
  background-color: #615048;
}

.navigation-button:focus-visible,
.hotels-search-button:focus-visible,
.catalog-card-link-detailed:focus-visible {
  background-color: #615048;
}

@supports not selector(:focus-visible) {

  .navigation-button:focus,
  .hotels-search-button:focus,
  .catalog-card-link-detailed:focus {
    background-color: #615048;
  }
}

.navigation-button:active,
.hotels-search-button:active,
.catalog-card-link-detailed:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled,
.button-apply:disabled,
.catalog-card-button-fav:disabled .navigation-button:disabled,
.hotels-search-button:disabled,
.catalog-card-link-detailed {
  background-color: #e5e5e5;
}

.subscribe-button:hover,
.catalog-card-button-fav:hover,
.pagination-link:hover,
.button-apply:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus-visible,
.catalog-card-button-fav:focus-visible,
.pagination-link:focus-visible,
.button-apply:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {

  .subscribe-button:focus,
  .catalog-card-button-fav:focus,
  .pagination-link:focus,
  .button-apply:focus {
    background-color: #68a2ca;
  }
}

.subscribe-button:active,
.catalog-card-button-fav:active,
.pagination-link:active,
.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-card-button-selected:hover {
  background-color: #6c9e42;
}

.catalog-card-button-selected:focus-visible {
  background-color: #6c9e42;
}

@supports not selector(:focus-visible) {
  .catalog-card-button-selected:focus {
    background-color: #6c9e42;
  }
}

.catalog-card-button-selected:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .button-reset:focus {
    outline: 3px solid #83b3d3;
  }
}

.button-reset:active {
  opacity: 0.3;
}

.pagination-current:hover,
.pagination-current:focus-visible,
.pagination-current:active {
  background-color: #f2f2f2;
  color: #000000;
}

@supports not selector(:focus-visible) {
  .pagination-current:focus {
    background-color: #f2f2f2;
  }
}

.pagination-next:hover,
.pagination-next:focus-visible,
.pagination-next:active {
  background-color: transparent;
  color: #000000;
}

@supports not selector(:focus-visible) {
  .pagination-next:focus {
    background-color: transparent;
  }
}

/* Navigation */

.navigation {
  display: flex;
  margin: 0 auto;
  column-gap: 30px;
}

.main-header-logo {
  margin-bottom: -10px;
}

.navigation-link-current {
  position: relative;
  text-decoration: underline;
  text-underline-offset: 21px;
  text-decoration-color: #000000;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  width: auto;
  bottom: -1px;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
}

.navigation-item {
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  max-width: 500px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff;
  background-position: center;
}

.navigation-link:focus-visible {
  outline: 2px solid #68a2ca;
  outline-offset: -10px;
}

.navigation-button:focus-visible {
  outline-offset: 0;
}

.header-logo:focus-visible {
  outline: 2px solid #68a2ca;
  outline-offset: -10px;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 20px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/header/finder.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/header/like.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  position: relative;
}

.likes-number {
  position: absolute;
  padding: 5px 4px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  right: 5px;
  top: 10px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
  background-color: #7db54f;
}

.navigation-button {
  background-color: #756157;
  color: #ffffff;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.hero-background {
  padding-top: 51px;
  padding-bottom: 82px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/index/index-background-vector.svg"),
    url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

/* Advantages */

.advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-wrapper {
  min-height: 385px;
  width: 400px;
  padding: 85px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.advantages-main-title-wrapper {
  padding: 69px;
  margin: 0 auto;
}

.advantages-item {
  display: flex;
  min-height: 385px;
  text-align: center;
}

.advantages-img {
  display: block;
  object-fit: contain;
}

.advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  text-align: center;
}

/*
не пойму какой лучше вариант


.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  margin-top: 30px;
  margin-left: -30px;
  bottom: -30px;
  left: 50%;
  background-color: currentColor;
  opacity: 0.3;
} */

.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  margin: auto;
  transform: translateY(30px);
  top: 50px;
  right: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.3;
}

.advantages-description {
  font-weight: 400;
  margin: 0;
}


.background-color-dark .advantages-title,
.background-color-dark .advantages-description {
  color: #ffffff;
}

/* services */

.services {
  background-color: #ffffff;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-item {
  min-height: 225px;
  width: 230px;
  align-content: center;
  padding: 81px 85px;
}

.services-title::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.home-vector::before {
  background-image: url("../images/index/index-home.svg");
}

.food-vector::before {
  background-image: url("../images/index/food.svg");
}

.gift-vector::before {
  background-image: url("../images/index/gift.svg");
}

.services-main-title-wrapper {
  padding: 64px;
  margin: 0 auto;
}

.services-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  font-weight: 400;
  margin: 0;
}

/* hotels-search */

.hotels-search {
  padding: 96px;
  background-color: #ffffff;
}

.hotels-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotels-search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.hotels-search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  max-width: 376px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}

/* subscribe */

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-title-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-img {
  background-image: url("../images/index/subscribe-background.jpg");
  background-color: #123869;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-img .subscribe-title-description,
.subscribe-img .subscribe-title {
  color: #ffffff;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background-color: #82b3d3;
  padding: 8px 50px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
}

.subscribe-form .subscribe-field {
  padding: 14px 20px;
  width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.subscribe-form .subscribe-field-img {
  background-color: #ffffff;
}


/* Catalog */

.main-inner {
  background-color: #ffffff;
}

.catalog-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 70px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-group-price {
  margin-left: auto;
}

.catalog-range-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 288px;
  gap: 2px;
}

.catalog-products {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  text-align: start;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  text-align: start;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked ~ .control-mark {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  mask-image: url("../images/catalog/check-mark.svg"), linear-gradient(#ffffff, #ffffff);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: exclude;
}

.control-input[type="radio"]:checked ~ .control-mark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  mask-image: url("../images/catalog/radio-ellipse.svg"), linear-gradient(#ffffff, #ffffff);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: exclude;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-input[type="radio"] ~ .control-mark {
  border-radius: 50%;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control:disabled {
  opacity: 0.3;
}

.range-field {
  margin: 0;
  margin-bottom: 36px;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: none;
  width: 143px;
  box-sizing: border-box;
  appearance: textfield;
}

.range-field::-webkit-outer-spin-button,
.range-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-range {
  position: relative;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.range-label-text {
  position: absolute;
  top: 24px;
  transform: translateY(-50%);
  right: 20px;
  color: #000000;
  opacity: 0.3;
}

.range-field:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-field[name="catalog-min-price"] {
  border-radius: 4px 0 0 4px;
}

.range-field[name="catalog-max-price"] {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-buttons {
  margin-top: auto;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  padding: 8px 50px 8px 50px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px 8px 50px;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  border: none;
}


/* breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  cursor: pointer;
}

.breadcrumbs-item:first-child::before {
  width: 12px;
  height: 12px;
  content: "";
  background-image: url("../images/catalog/catalog-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:not(:last-child)::after {
  width: 10px;
  height: 10px;
  content: "";
  margin: 10px;
  background-image: url("../images/catalog/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link:hover,
.breadcrumbs-item:first-child:hover::before {
  opacity: 0.6;
}

.breadcrumbs-link:active,
.breadcrumbs-item:first-child:active::before {
  opacity: 0.3;
}


/* catalog-sorting */

.catalog-cards {
  padding: 50px 70px 60px;
}

.catalog-sorting-field {
  display: flex;
  padding: 0;
  border: 0;
  margin-bottom: 40px;
  gap: 70px;
  align-items: center;
}

.catalog-sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  max-width: 500px;
  text-transform: uppercase;
  text-align: left;
}

.sorting-select-control {
  padding: 12px 20px;
  padding-right: 45px;
  margin-left: auto;
  min-width: 292px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/catalog/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  outline: none;
  cursor: pointer;
}

.sorting-select-control:hover {
  border-color: #68a2ca;
}

.sorting-select-control:focus-visible {
  border-color: #68a2ca;
}

.sorting-select-control:disabled,
.sorting-select-control:disabled:hover {
  border-color: #000000;
  opacity: 0.3;
  cursor: default;
}

.sort-button:hover {
  border-color: #000000;
  outline: none;
}

.sort-button:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.sort-button:active {
  border-color: #000000;
}

.sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 8px;
  max-width: 240px;
}

.sorting-item {
  list-style-type: none;
}

.sort-button {
  display: inline-block;
  min-width: 48px;
  min-height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.sort-card-button {
  background-image: url("../images/catalog/vector-sorting-card.svg");
}

.sort-tile-button {
  background-image: url("../images/catalog/vector-sorting-tile.svg");
}

.sort-list-button {
  background-image: url("../images/catalog/vector-sorting-list.svg");
}

.sort-button-selected {
  border-color: #000000;
}

/* catalog-list */

.catalog-card-list {
  display: grid;
  padding: 0;
  width: 1060px;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 80px;
}

.catalog-card {
  min-height: 385px;
  width: 300px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content 1fr auto;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  text-align: left;
}

.catalog-card-image {
  display: block;
  object-fit: contain;
}

.catalog-card-link-image:focus-visible {
  outline: 2px solid #68a2ca;
}

.catalog-card-link-image {
  grid-column: 1 / -1;
}

.catalog-card-title {
  grid-column: span 2;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: auto;
  color: #000000;
}

.catalog-card-item-wrapper {
  grid-column: 1 / -1;
}

.catalog-card-descriprion {
  margin: 0;
}

.catalog-card-price {
  margin: 0;
  margin-left: auto;
}

.product-card-button-fav {
  background-color: #82b3d3;
}

.catalog-card-link-detailed {
  background-color: #756157;
}

.catalog-card-button-selected {
  background-color: #7db54f;
}

.catalog-card-rating {
  margin: 0;
  color: #333333;
  background-color: #f2f2f2;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
}

.catalog-description {
  background-color: #f2f2f2;
}

.stars,
.one-star {
  background-image: url("../images/catalog/star.svg");
  width: 18px;
  margin: 0;
  background-repeat: space no-repeat;
  background-position-y: center;
}

.two-stars {
  width: 40px;
}

.three-stars {
  width: 60px;
}

.four-stars {
  width: 80px;
}

.five-stars {
  width: 100px;
}

/* pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  border: none;
  outline: none;
}

.pagination-dots {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.pagination-next {
  background-color: transparent;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

/* background-colors */

.background-color-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-color-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.background-color-dark {
  background-color: #82b3d3;
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
  background-color: #ffffff;
  margin: 0 auto;
  align-items: center;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 150px;
}

.socials-link {
  display: block;
  width: 47px;
  height: 40px;
  background-position: center;
}


.footer-contacts-address {
  width: 400px;
}

.academy-logo img {
  display: block;
}

.vk-logo {
  background-image: url("../images/footer/vk.svg");
  background-repeat: no-repeat;
}

.telegram-logo {
  background-image: url("../images/footer/telegram.svg");
  background-repeat: no-repeat;
}

.yt-logo {
  background-image: url("../images/footer/youtube.svg");
  background-repeat: no-repeat;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.socials-link:hover {
  filter: brightness(0) saturate(100%) invert(74%) sepia(8%) saturate(2531%) hue-rotate(173deg) brightness(82%) contrast(91%);
}

.socials-link:focus-visible {
  filter: brightness(0) saturate(100%) invert(74%) sepia(8%) saturate(2531%) hue-rotate(173deg) brightness(82%) contrast(91%);
}

.socials-link:active {
  opacity: 0.3;
}

.footer-contacts-address:hover {
  color: #756157;
}

.footer-contacts-address:focus-visible {
  color: #756157;
}

.footer-contacts-address:active {
  color: #756157;
  opacity: 0.3;
}

.academy-logo:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(40%) saturate(232%) hue-rotate(336deg) brightness(99%) contrast(84%);
}

.academy-logo:focus-visible {
  filter: brightness(0) saturate(100%) invert(35%) sepia(40%) saturate(232%) hue-rotate(336deg) brightness(99%) contrast(84%);
}

.academy-logo:active {
  filter: brightness(0) saturate(100%) invert(35%) sepia(40%) saturate(232%) hue-rotate(336deg) brightness(99%) contrast(84%);
  opacity: 0.3;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  text-align: left;
  justify-content: space-between;
}

.modal-hotels-search {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-buttons-wrapper {
  display: flex;
  width: 110px;
  margin-left: 28px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal-family-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-close-button-wrapper {
  background-color: #e6e6e6;
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.modal-close-button {
  background-color: #f2f2f2;
  background-image: url("../images/index/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 52px;
  height: 52px;
}

.modal-hotels-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.modal-date-description {
  font-size: 16px;
  margin: 0;
  margin-bottom: 23px;
  text-align: end;
}

.modal-date-error {
  color: #ff5757;
}

.modal-date-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 4px;
}

.modal-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  align-self: center;
}

.modal-date-input {
  min-width: 400px;
  padding: 12px 20px;
  color: transparent;
  background-image: url("../images/index/calendar.svg");
  background-size: 16px;
  background-position: right 22px center;
  background-repeat: no-repeat;
}

.modal-date-input::placeholder {
  color: #000000;
}

.modal-date-input:hover::placeholder,
.modal-date-input:focus-visible::placeholder {
  opacity: 0.6;
}

.modal-date-input:hover {
  background-color: #e6e6e6;
}

.modal-date-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #82b3d3;
}

.modal-date-input:active {
  background-color: #e6e6e6;
}

.modal-number-input {
  padding: 12px 0;
  width: 31px;
  border-radius: 0;
  text-align: center;
}

.modal-minus-button,
.modal-plus-button {
  width: 20px;
  height: 20px;
  margin: auto;
  padding: 10px;
  background-color: transparent;
}

.modal-minus-button {
  background-image: url("../images/index/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-plus-button {
  background-image: url("../images/index/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-minus-button:hover,
.modal-plus-button:hover {
  filter: brightness(0%);
  opacity: 1.0;
}

.modal-minus-button:focus-visible {
  opacity: 1.0;
  outline: 3px solid #82b3d3;
  background-image: url("../images/index/minus-black.svg");
}

.modal-plus-button:focus-visible {
  opacity: 1.0;
  outline: 3px solid #82b3d3;
  background-image: url("../images/index/plus-black.svg");
}

.modal-minus-button:active,
.modal-plus-button:active {
  opacity: 0.3;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #82b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-search-button {
  border-radius: 10px;
  width: 577px;
  padding: 18px 50px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 44px;
  background-color: #83b3d3;
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus-visible {
  background-color: #68a2ca;
}

.modal-search-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.tooltip {
  margin-left: -8px;
  position: relative;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  mask-image: url("../images/index/tooltip.svg"), linear-gradient(#ffffff, #ffffff);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: exclude;
  background-color: #83b3d3;
  border: none;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  margin-top: 19px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: none;
  width: 216px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #333333;
  left: 50%;
  top: -8px;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus-visible + .tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
