@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  padding: 0 70px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "PT Sans", sans-serif;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
}

/* Navigation */

.navigation {
  display: flex;
  margin: 0 auto;
  column-gap: 30px;
}

.main-header-logo {
  margin-bottom: -10px;
}

.navigation-link-current {
  text-decoration: underline;
  text-underline-offset: 21px;
  text-decoration-color: #000000;
}

.navigation-item {
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  max-width: 500px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #ffffff;
  background-position: center;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-finder {
  background-image: url("../images/header/finder.svg");
  background-repeat: no-repeat;

}

.navigation-fav {
  background-image: url("../images/header/like.svg");
  background-repeat: no-repeat;
}

.navigation-button {
  background-color: #756157;
  color: #ffffff;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.hero-background {
  padding-top: 51px;
  padding-bottom: 82px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/index/index-background-vector.svg"),
    url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

/* Advantages */

.advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-wrapper {
  min-height: 385px;
  width: 400px;
  padding: 85px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.advantages-main-title-wrapper {
  padding: 69px;
  margin: 0 auto;
}

.advantages-item {
  display: flex;
  min-height: 385px;
}

.advantages-img {
  display: block;
  object-fit: contain;
}

.advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  font-weight: 400;
  margin: 0;
}


.background-color-dark .advantages-title,
.background-color-dark .advantages-description {
  color: #ffffff;
}

/* services */

.services {
  background-color: #ffffff;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-item {
  min-height: 225px;
  width: 230px;
  align-content: center;
  padding: 81px 85px;
}

.services-main-title-wrapper {
  padding: 64px;
  margin: 0 auto;
}

.services-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.services-main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  font-weight: 400;
  margin: 0;
}

/* hotels-search */

.hotels-search {
  padding: 96px;
  background-color: #ffffff;
}

.hotels-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotels-search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.hotels-search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  max-width: 376px;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

/* subscribe */

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-title-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-img {
  background-image: url("../images/index/subscribe-background.jpg");
  background-color: #123869;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-img .subscribe-title-description,
.subscribe-img .subscribe-title {
  color: #ffffff;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background-color: #82b3d3;
  padding: 8px 50px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
}

.subscribe-form .subscribe-field {
  padding: 14px 20px;
  width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.subscribe-form .subscribe-field-img {
  background-color: #ffffff;
}


/* Catalog */

.main-inner {
  background-color: #ffffff;
}

.catalog-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-group {
  width: 155px;
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-products {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
}

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  text-align: start;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  text-align: start;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  margin-right: 70px;
}

.filter-group-price {
  margin-left: auto;
}

.catalog-filter-buttons {
  margin-top: auto;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  padding: 8px 50px 8px 50px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px 8px 50px;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  border: none;
}

/* catalog-sorting */

.catalog-cards {
  padding: 50px 70px 60px;
}

.catalog-sorting-field {
  display: flex;
  padding: 0;
  border: 0;
  margin-bottom: 40px;
  gap: 70px;
  align-items: center;
}

.catalog-sorting-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  max-width: 500px;
  text-transform: uppercase;
  text-align: left;
}

.sorting-select-control {
  padding: 12px 20px;
  margin: 0;
  margin-left: auto;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.sorting-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 8px;
  max-width: 240px;
}
.sorting-item {
  list-style-type: none;
}

.sort-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.sort-button-selected {
  border-color: #000000;
}

/* catalog-list */

.catalog-card-list {
  display: grid;
  padding: 0;
  width: 1060px;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 80px;
}

.catalog-card {
  min-height: 385px;
  width: 300px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content 1fr auto;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  text-align: left;
}

.catalog-card-image {
  display: block;
  object-fit: contain;
}

.catalog-card-link-image {
  grid-column: 1 / -1;
}

.catalog-card-title {
  grid-column: span 2;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: auto;
  color: #000000;
}

.catalog-card-item-wrapper {
  grid-column: 1 / -1;
}

.catalog-card-descriprion {
  margin: 0;
}

.catalog-card-price {
  margin: 0;
  margin-left: auto;
}

.... {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  background-color: #756157;
  padding: 8px 50px 8px 50px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.product-card-button-fav {
  background-color: #82b3d3;
}

.catalog-card-link-detailed {
  background-color: #756157;
}




.catalog-card-rating {
  margin: 0;
  color: #333333;
  background-color: #f2f2f2;
}

.catalog-description {
  background-color: #f2f2f2;
}


/* pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  border: none;
}

.pagination-dots {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.pagination-next {
  background-color: transparent;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

/* background-colors */

.background-color-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-color-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.background-color-dark {
  background-color: #82b3d3;
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
  background-color: #ffffff;
  margin: 0 auto;
  align-items: center;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 150px;
}

.socials-link {
  display: block;
  width: 47px;
  height: 40px;
  background-position: center;
}


.footer-contacts-address {
  width: 400px;
}

.academy-logo img {
  display: block;
}

.vk-logo {
  background-image: url("../images/footer/vk.svg");
  background-repeat: no-repeat;
}

.telegram-logo {
  background-image: url("../images/footer/telegram.svg");
  background-repeat: no-repeat;
}

.yt-logo {
  background-image: url("../images/footer/youtube.svg");
  background-repeat: no-repeat;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
